.primary-button {
  padding-top: 30px;
  button {
    margin: 0 auto;
    background-color: $primary-pink-button;
    font-family: $first-font;
    color: white;
    border-radius: 30px;
    border: none;
    width: 270px;
    height: 45px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.7px;
    &:hover {
      background-color: #ff9bdb;
      color: white;
    }
  }
}

@include respondMin(phone) {
  .convert-button {
    justify-content: flex-start;
    button {
      margin: 0;
    }
  }
}
