section {
  margin: 50px auto;
}
.cards {
  display: flex;
  box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 10px;
  margin: 20px;

  &__section {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &--img {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 250px;
        height: 200px;
        object-fit: contain;
      }
    }

    &--info {
      padding: 2rem 1rem;
      margin: 0px auto 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-family: $first-font;
        color: #000;
        font-size: 22px;
        padding: 1rem;
      }

      .text {
        font-size: 14px;
        text-align: center;
        font-family: $second-font;
        line-height: 1.3rem;
        letter-spacing: 0.5px;
        color: $neutral-grayish-blue-header;
      }
    }
  }
}

@include respondMin(phone) {
  .cards {
    &__section {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  section div:nth-child(2) {
    .cards {
      &__section {
        flex-direction: row;
      }
    }
  }
}

@include respondMin(desktop) {
}
