header {
  background-image: url("/kata-01-diseno-web-k1-may22-t1/images/bg-hero-mobile.svg");
  position: relative;
  background-repeat: no-repeat;
  background-color: $neutral-very-pale-cyan-body;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 30px 0;

  &__logo img {
    width: 110px;
    height: 18px;
  }

  &__button {
    button {
      width: 110px;
      height: 30px;
      border-radius: 30px;
      font-weight: 600;
      font-size: 13px;
      border: none;
      box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
      background-color: white;
      &:hover {
        background: rgba(6, 218, 175, 0.902);
        color: white;
      }
    }
  }
}

.title-header {
  padding-top: 30px;
  font-size: 28px;
  font-weight: bold;
  font-family: $first-font;
  text-align: center;
}

.title-text {
  padding-top: 30px;
  font-family: $second-font;
  font-size: 19px;
  text-align: center;
}

.header-image {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    align-items: center;
  }
}

@include respondMin(phone) {
  // header
  .mg-desktop {
    display: flex;
    padding-bottom: 40px;

    .title,
    .title-text,
    .title-header {
      text-align: left;
    }
  }
}

@include respondMin(phone) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
    line-height: 30px;
  }
}
