.footer {
    background-color: $neutral-very-dark-cyan-footer;
    color: $neutral-very-pale-cyan-body;

    &__logo {
        
        &__img {
            width: 200px;
            background-color: aliceblue;
        }
    }

    &__information {
        padding: 20px 0 30px 0;

        &__sub {
            display: flex;
            gap: 20px;
            padding: 10px 20px 0 20px;
        }
    }

    &__links {

        li{
            padding: 10px 0 10px 20px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px 0;
    }

    &__copyright {

        p {
            text-align: center;
            font-size: 10px;
            padding-bottom: 20px;
        }
    }
}