/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.heading {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("/kata-01-diseno-web-k1-may22-t1/images/bg-hero-mobile.svg");
  position: relative;
  background-repeat: no-repeat;
  background-color: #ebfbff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 30px 0;
}

.navbar__logo img {
  width: 110px;
  height: 18px;
}

.navbar__button button {
  width: 110px;
  height: 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13px;
  border: none;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
          box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  background-color: white;
}

.navbar__button button:hover {
  background: rgba(6, 218, 175, 0.902);
  color: white;
}

.title-header {
  padding-top: 30px;
  font-size: 28px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.title-text {
  padding-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  text-align: center;
}

.header-image {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-image img {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #00252e;
  color: #ebfbff;
}

.footer__logo__img {
  width: 200px;
  background-color: aliceblue;
}

.footer__information {
  padding: 20px 0 30px 0;
}

.footer__information__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px 20px 0 20px;
}

.footer__links li {
  padding: 10px 0 10px 20px;
}

.footer__links li a {
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.footer__copyright p {
  text-align: center;
  font-size: 10px;
  padding-bottom: 20px;
}

.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.primary-button button {
  margin: 0 auto;
  background-color: #ff52bf;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 30px;
  border: none;
  width: 270px;
  height: 45px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.7px;
}

section {
  margin: 50px auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
          box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
  border-radius: 10px;
  margin: 20px;
}

.cards__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.cards__section--img {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__section--img img {
  display: block;
  width: 250px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards__section--info {
  padding: 2rem 1rem;
  margin: 0px auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__section--info .title {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 22px;
  padding: 1rem;
}

.cards__section--info .text {
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
  color: #808d99;
}

.mg-center {
  margin: 0px 30px;
}
/*# sourceMappingURL=main.css.map */